<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/template :: head">
	<title>[[#{index.tittle}]]</title>
	<meta charset="UTF-8">
</head>

<body>
	<header th:replace="layout/template :: header"></header>
	<section th:replace="layout/botonsAdd :: botonsAdd"></section>
	<section th:replace="layout/addPerson :: addPerson"></section>
	<section th:replace="layout/peopleList :: peopleList"></section>
	<footer th:replace="layout/template :: footer"></footer>	
</body>

</html>