<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>BotonsEdit</title>
	<meta charset="UTF-8" />
</head>

<body>
	<section th:fragment="botonsEdit">
		<div class="py-4 mb-4 bg-light" id="actions">
			<div class="container">
				<div class="row">
				<div class="col-md-3" >
					<a href="@{/}" class="btn btn-light btn-block">
						<i class="fas fa-arrow-left"></i> [[#{action.back}]]
					</a>
				</div>
				<div class="col-md-3" >
					<button type="submit" class="btn btn-success btn-block">
						<i class="fas fa-check"></i> [[#{action.save}]]
					</button>
				</div>
				<div class="col-md-3" >
					<a th:href="@{/delete(idPerson = ${person.idPerson})}" class="btn btn-danger btn-block">
						<i class="fas fa-trash"></i> [[#{action.delete}]]
					</a>
				</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>